<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Win min">
    <title>게시판 페이지</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:replace="header :: header">
    헤더삽입부
</header>
<form th:action th:object="${list}" method="get">
<div class="container">
    <div class="input-group">
            <input type="text" name="searchVal" th:value="${searchVal}" class="form-control" placeholder="제목을 입력해주세요.">
            <button type="submit" class="btn btn-secondary">검색</button>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="card" th:each="list, index : ${list}">
            <div class="col">
                <img th:src="${list.imgUrl}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5><a th:href="@{/movies/} + ${list.id}" class="card-title" th:text="${list.title}"></a></h5>
                    <h5 class="card" th:text="${list.genres}"></h5>

                </div>
            </div>
        </div>
    </div>
    <div>
        <nav class="container d-flex align-items-center justify-content-center" aria-label="Page navigation example"
             th:with="start=${(list.number/maxPage)*maxPage + 1},
                  end=(${(list.totalPages == 0) ? 1 : (start + (maxPage - 1) < list.totalPages ? start + (maxPage - 1) : list.totalPages)})">
            <ul class="pagination">

                <li th:if="${start > 1}" class="page-item">
                    <a th:href="@{/?(page=0, searchVal=${searchVal})}" class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>

                <li th:if="${start > 1}" class="page-item">
                    <a th:href="@{/?(page=${start - maxPage-1}, searchVal=${searchVal})}" class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, end)}" class="page-item"
                    th:classappend="${list.number+1 == page} ? active">
                    <a th:href="@{/?(page=${page-1}, searchVal=${searchVal})}" th:text="${page}" class="page-link" href="#">1</a>
                </li>

                <li th:if="${end < list.totalPages}" class="page-item">
                    <a th:href="@{/?(page=${start + maxPage -1}, searchVal=${searchVal})}" class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                <li th:if="${end < list.totalPages}" class="page-item">
                    <a th:href="@{/?(page=${list.totalPages-1}, searchVal=${searchVal})}" class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</form>
</body>
</html>